/* container */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
}
/* container - left */
.layout_left {
  float: left;
  width: 830px;
}

/* banner */
.banner {
  height: 130px;
}
.banner_inner {
  position: relative;
  width: 100%;
  margin: 0px auto;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.banner_inner a {
  display: flex;
  align-items: center;
  height: 130px;
  padding-right: 20px;
}
.thumb {
  border-radius: 7px 0 0 7px;
  flex-shrink: 0;
  height: 130px;
  overflow: hidden;
  width: 195px;
}
.thumb_profile {
  border-radius: 50%;
  flex-shrink: 0;
  height: 72px;
  margin-left: 20px;
  margin-right: 16px;
  overflow: hidden;
  position: relative;
  width: 72px;
}
.thumb_profile::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: inherit;
}
.copy {
  height: 72px;
  overflow: hidden;
  text-align: left;
}
.copy .title {
  color: #080808;
  display: block;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 24px;
  margin-right: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.copy .sub {
  color: #404040;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
  margin: 2px 84px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.cta {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: auto;
  padding: 16px 20px;
  border-radius: 26px;
  white-space: nowrap;
}
.cta .text {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 18px;
}
.cta .icon {
  background-image: url(../images/arrow_icon.svg);
  height: 12px;
  margin-left: 5px;
  width: 8px;
}
.ad_mark_area {
  position: absolute;
  right: 2px;
  z-index: 10;
  top: 4px;
}
.ad_mark {
  background-image: url(../images/ad_icon.png);
  background-size: 100px 90px;
  color: transparent;
  background-position: 0px -20px;
  background-repeat: no-repeat;
  width: 42px;
  height: 16px;
  display: block;
  padding: 2px 4px;
  background-origin: content-box;
  box-sizing: content-box;
}

/* newsstand */
.content_area {
  margin-top: 16px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #ebebeb;
}
.content_area::after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both;
}
.news_header {
  display: flex;
  padding: 18px 20px 17px;
}
.news_header_tab {
  flex: 1;
}
.tab_list {
  display: flex;
}
.tab_item {
  position: relative;
  padding-left: 26px;
}
.tab_item:first-child {
  padding-left: 0;
}
.tab_item::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  transform: skewX(-15deg);
}
.tab_item:first-child::before {
  display: none;
}
.tab {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  vertical-align: top;
  color: rgba(8, 8, 8, 0.5);
}
.tab_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: rgba(8, 8, 8, 0.5);
}
.tab_text:last-child:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: top;
}
.tag_live {
  background-color: #f4361e;
  display: inline-block;
  margin: 3px 0 0 5px;
  padding: 0 5px 0 4px;
  border-radius: 9px;
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: 900;
  vertical-align: top;
  color: #fff;
}
.tag_live::before {
  content: '';
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -432px -413px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  margin: 4px 3px 0 0;
  vertical-align: top;
}
.news_header_sub {
  background-color: #f5f7f8;
  position: relative;
  display: flex;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 26px;
}
.news_btn_more {
  color: #404040;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.icon_triangle {
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -175px -211px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin: 10px 0 0 5px;
  vertical-align: top;
}
.subnews {
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 26px;
}
.subnews::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #d3d5d7;
  width: 1px;
  height: 12px;
}
.news_media {
  display: inline-block;
  vertical-align: top;
}
.news_media::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  margin: 12px 6px 0 6px;
  border-radius: 50%;
  vertical-align: top;
}
.newsbox {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.news_desc {
  font-weight: 500;
  letter-spacing: -0.4px;
  font-size: 1.4rem;
  line-height: 26px;
  width: 100%;
  white-space: nowrap;
}
.sub_home {
  margin-left: auto;
}
.link_home {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding-left: 25px;
}
.link_home:first-child {
  font-weight: 500;
  padding-left: 0;
}
.link_home:last-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
}
.media_area {
  position: relative;
  display: flex;
  margin: 18px 20px;
}
.inner-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.right {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
  position: absolute;
  background-color: #ebebeb;
}
.right1 {
  top: 56px;
}
.right2 {
  top: 112px;
}
.right3 {
  top: 168px;
}
.bottom {
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 1;
  position: absolute;
  background-color: #ebebeb;
}
.bottom1 {
  left: 132px;
}
.bottom2 {
  left: 263px;
}
.bottom3 {
  left: 394px;
}
.bottom4 {
  left: 526px;
}
.bottom5 {
  left: 657px;
}
.media_sub_group {
  border: 1px solid #ebebeb;
  overflow: hidden;
  position: relative;
  height: 222px;
  border-radius: 4px;
}
.media_sub_group::after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both;
}
.media_box {
  position: relative;
  float: left;
  width: 16.66%;
  height: 56px;
}
.news_thumb {
  display: block;
  padding: 18px 0;
  text-align: center;
}
.news_thumb img {
  display: inline-block;
  vertical-align: top;
  height: 20px;
}
.content_paging {
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 10px 0 11px;
  line-height: 34px;
  text-align: center;
}
.content_view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.btn_view_list {
  padding: 18px 9px 18px 20px;
}
.btn_view_list::before {
  content: '';
  display: block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -227px -376px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.btn_view_thumb {
  padding: 18px 20px 18px 9px;
}
.btn_view_thumb::before {
  content: '';
  display: block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -432px -21px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.btn_prev,
.btn_next {
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  z-index: 1;
}
.btn_prev::before {
  content: '';
  display: block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -193px -424px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotate(180deg);
}
.content_page {
  color: #606060;
  display: inline-block;
  min-width: 156px;
  padding: 0 16px;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
  vertical-align: top;
}
.paging_view_text {
  padding-right: 4px;
}
.point {
  color: #3a67ea;
}
.total {
  color: rgba(96, 96, 96, 0.5);
}
.btn_next::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -193px -424px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* shopping */
.commerce_container {
  background-color: #fff;
  width: 830px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  opacity: 1;
}
.commerce_header {
  display: flex;
  padding: 19px 20px 16px;
}
.header_tab {
  flex: 1 1;
}
.commerce_header_sub {
  position: absolute;
  top: 4px;
  right: 20px;
  margin-left: auto;
  padding: 10px 0;
}
.commerce_page {
  color: #606060;
  display: inline-block;
  margin: 6px 9px 8px 0;
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 600;
  vertical-align: top;
}
.commerce_page .current {
  display: inline-block;
}
.commerce_page .total {
  display: inline-block;
  color: rgba(113, 113, 113, 0.6);
}
.commerce_btn_prev {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(211, 213, 215, 0.8);
  vertical-align: top;
  border-radius: 4px 0 0 4px;
}
.icon_arrow_prev,
.icon_arrow_next {
  display: inline-block;
  width: 10px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.icon_arrow_prev::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: 2px solid #80868c;
  border-bottom: 2px solid #80868c;
  margin-left: 1px;
}
.commerce_btn_next {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(211, 213, 215, 0.8);
  vertical-align: top;
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.icon_arrow_next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid #80868c;
  border-right: 2px solid #80868c;
  margin-left: -1px;
}
.commerce_view_area {
  display: flex;
  height: 376px;
  padding: 0 20px 1px;
  box-sizing: border-box;
}
.commerce_view_desc {
  flex: 1 1;
  min-width: 0;
}
.mall_link_group {
  position: relative;
  padding: 9px 11px 4px;
  border-radius: 4px;
  background-color: rgba(245, 248, 251, 0.6);
}
.mall_link_group::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: inherit;
}
.mall_link_area {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.mall_link {
  color: 404040;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.6px;
}
.mall_link strong {
  color: #101010;
}
.mall_dot {
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin: 9px 0 0;
}
.quick_menu_area {
  position: relative;
  margin-top: 12px;
  padding: 9px;
  border-radius: 4px;
  background-color: rgba(245, 248, 251, 0.6);
}
.quick_menu_area::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: inherit;
}
.quick_menu_list {
  position: relative;
  display: flex;
}
.quick_menu_item {
  flex: 1 1;
}
.quick_link {
  display: block;
  text-align: center;
}
.quick_menu_thumb {
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  border: 1px solid rgba(238, 242, 248, 0.8);
}
.quick_menu_text {
  color: #404040;
  margin-top: 2px;
  font-size: 13px;
  line-height: 20px;
}
.quick_link_home::before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  background-image: url(../images/media_icon.png);
  background-size: 158px 137px;
  background-position: -34px 0;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.quick_link_review::before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  background-image: url(../images/media_icon.png);
  background-size: 158px 137px;
  background-position: -68px -34px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.quick_link_paylist::before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  background-image: url(../images/media_icon.png);
  background-size: 158px 137px;
  background-position: -34px -34px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.quick_link_mycart::before {
  content: '';
  display: block;
  position: absolute;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  background-image: url(../images/media_icon.png);
  background-size: 158px 137px;
  background-position: -19px -121px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.focus_item_banner {
  display: block;
  margin-top: 12px;
}
.ad_img {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 4px;
}
.ad_img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: inherit;
  transform: translateZ(0);
  perspective: 1px;
}
.focus_item_banner_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 1.3rem;
  line-height: 19px;
  text-align: center;
}
.commerce_view_product {
  position: relative;
  width: 522px;
  margin-right: 0;
  margin-left: 20px;
}
.product_list::after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both;
}
.product_item {
  float: left;
  padding: 0 0 14px 8px;
}
.product_item:first-child {
  padding-left: 0;
}
.product_area {
  position: relative;
  width: 98px;
}
.product {
  position: relative;
}
.product_link {
  position: relative;
  display: block;
}
.product_img {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 4px;
}
.product_img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.03);
  transform: translateZ(0);
  perspective: 1px;
}
.produt_text {
  display: block;
  padding-top: 8px;
}
.produt_text div {
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 19px;
  letter-spacing: -0.4px;
  white-space: nowrap;
}
.today_pick_header {
  display: flex;
  margin: 0 20px 18px;
}
.today_pick_header_sub {
  background-color: #f5f7f8;
  display: flex;
  padding: 15px 20px 14px;
  border-radius: 4px;
  line-height: 21px;
  font-weight: 700;
  width: 100%;
}
.today_pick_title {
  flex: none;
  position: relative;
  padding-right: 19px;
  font-weight: 700;
}
.today_pick_title::after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  border-radius: 50%;
}
.today_pick_link {
  flex: 1 1;
  display: flex;
  min-width: 0;
}
.today_pick_img {
  display: inline-block;
  height: 13px;
  padding-top: 4px;
  line-height: 13px;
  vertical-align: top;
}
.today_pick_img img {
  vertical-align: top;
}
.today_pick_desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #404040;
  font-weight: 500;
  margin-left: 8px;
}
.today_pick_type_color,
.commerce_point {
  color: #9858f5;
}
.tag_ad {
  position: absolute;
  top: 18px;
  right: 20px;
  border: 1px solid #e3e5e8;
  color: #606060;
  width: 30px;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 18px;
  text-align: center;
}

/* feed */
.feed_header {
  display: flex;
  padding: 18px 20px 17px;
}
.feed_header_tab {
  flex: 1;
}
.feed_header_tab .tab_text::before {
  display: none;
}
.feed_area {
  padding: 0 20px;
}
.feed_box {
  position: relative;
  border-top: 1px solid #ebebeb;
}
.feed_box:first-child {
  border-top: none;
}
.highlighted_list {
  display: flex;
  margin-top: 0;
}
.highlighted_item {
  position: relative;
  flex-shrink: 0;
  width: 385px;
  padding: 0 0 24px 20px;
}
.highlighted_link {
  display: block;
}
.highlighted_thumb {
  position: relative;
  margin-bottom: 10px;
}
.content_img {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 4px;
}
.content_img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: inherit;
  transform: translate3d(0, 0, 0);
  perspective: 1px;
}
.content_img img,
.product_img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.content_img:hover img,
.product_img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.highligted_text_color {
  color: #a84c30;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: 700;
}
.highligted_title {
  display: block;
  overflow: hidden;
  max-height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  font-weight: 600;
}
.highligted_source_box {
  display: flex;
  margin-top: 4px;
  font-size: 1.3rem;
  line-height: 20px;
}
.highligted_source {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #606060;
}
.feed_title_wrap {
  position: relative;
  display: flex;
}
.feed_title {
  padding: 23px 0 15px;
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 800;
}
.poster_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  padding-bottom: 20px;
  gap: 20px;
}
.poster_item {
  position: relative;
  flex-shrink: 0;
  width: calc((100% - 100px) / 6);
}
.poster_link {
  display: block;
}
.poster_thumb {
  position: relative;
}
.book_effect::before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 0;
  width: 2px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px 0 0 2px;
}
.book_effect::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  width: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.poster_title {
  display: block;
  overflow: hidden;
  max-height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  margin-top: 10px;
  font-weight: 500;
}
.poster_sub_box {
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #606060;
  margin-top: 4px;
  font-size: 1.3rem;
}
.poster_sub:last-child::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  margin: 9px 3px 0;
  border-radius: 50%;
  vertical-align: top;
}
.feed_sub {
  color: #606060;
  position: relative;
  flex-shrink: 0;
  margin-left: auto;
  padding: 24px 8px 17px 11px;
  font-size: 1.3rem;
  line-height: 19px;
}
.poster_list_wrap {
  overflow: hidden;
}

.poster_common_list {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.feed_box .btn_prev {
  position: absolute;
  left: -12px;
  top: 120px;
}
.feed_box .btn_next {
  position: absolute;
  right: -12px;
  top: 120px;
}
.feed_more_area {
  border-top: 1px solid #ebebeb;
}
.btn_more {
  width: 100%;
  color: #404040;
  display: block;
  font-size: 1.3rem;
  line-height: 56px;
  font-weight: 600;
}
.icon_plus {
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
  margin: 23px 0 0 5px;
  vertical-align: top;
}
.icon_plus::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #a84c30;
  left: 50%;
  top: 4px;
  bottom: 4px;
  width: 100%;
  transform: translateX(-50%);
}
.icon_plus::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #a84c30;
  top: 50%;
  left: 4px;
  right: 4px;
  height: 100%;
  transform: translateY(-50%);
}
/* layout_right */
.layout_right {
  float: left;
  width: 420px;
  margin-left: 30px;
}
.right_content_area {
  float: left;
  width: 420px;
}
.right_content_area .content_area {
  margin-top: 0;
}
.right_content_area::after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both;
}
/* login */
.my_login {
  padding: 21px 20px 18px;
  line-height: 20px;
  text-align: center;
}
.login_text {
  font-size: 1.4rem;
}
.my_login_link {
  display: block;
  margin-top: 13px;
  padding: 17px 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #03c75a;
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.12);
  color: #fff;
}
.naver_logo {
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: 0px -301px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  vertical-align: top;
}
.login_more {
  color: #606060;
  margin-top: 16px;
  font-size: 1.3rem;
}
.link_more {
  display: inline-block;
  vertical-align: top;
}
.link_more::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  margin: 4px 12px 0;
  vertical-align: top;
}
.link_more:first-child::before {
  display: none;
}

/* banner */
.banner_area {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.ad_wrap {
  width: 420px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  line-height: 0;
}

/* shopping */
.right_container {
  background-color: #fff;
  width: 420px;
  height: 324px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
  opacity: 1;
}
.shopping_container {
  width: 420px;
  height: 172px;
  background-color: #f9fbfd;
}
.shopping_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 172px;
  display: flex;
  padding: 18px;
  border-radius: 8px;
  overflow: hidden;
}
.shopping_header_group {
  flex-shrink: 0;
  width: 80px;
  margin-right: 18px;
}
.shopping_header_title {
  font-family: NanumSquareNeo, sans-serif;
  font-size: 1.7rem;
  line-height: 23px;
  font-weight: 800;
}
.shopping_title {
  display: block;
}
.shopping_tag_ad {
  position: absolute;
  width: 30px;
  bottom: 0;
  left: 0;
  border: 1px solid #e3e5e8;
  border-radius: 4px;
  margin: 0 0 18px 18px;
  box-sizing: border-box;
  color: #606060;
  font-size: 1.3rem;
  line-height: 18px;
  text-align: center;
}
.shopping_group {
  min-width: 0;
}
.shoppin_inner {
  position: relative;
}
.shopping_list {
  overflow: hidden;
}
.shopping_item {
  float: left;
  width: 90px;
  margin-left: 8px;
  height: 136px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.shopping_item:first-child {
  margin-left: 0;
}
.shopping_content {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.shopping_content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: inherit;
}
.shopping_content:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.shopping_price {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: none;
  padding: 0 4px 0 8px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 24px;
  color: #f5f7f8;
  letter-spacing: -0.4px;
  background-color: rgba(0, 0, 0, 0.4);
}
.shopping_content:hover .shopping_price {
  display: block;
}
.link {
  display: block;
}
.shopping_view_title {
  display: -webkit-box;
  color: #101010;
  overflow: hidden;
  max-height: 38px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.4px;
  word-break: break-all;
}
.shopping_view_title:hover {
  text-decoration: overline;
}
.shopping_pagination .btn_prev {
  position: absolute;
  top: 29px;
  bottom: 0;
  left: -14px;
}
.shopping_pagination .btn_next {
  position: absolute;
  top: 29px;
  bottom: 0;
  right: -14px;
}

/* daily_bord */
.daily_bord_area {
  padding: 0 18px;
}
.daily_bord_header_group {
  position: relative;
  display: flex;
  padding: 6px 0;
  line-height: 40px;
}
.daily_header_title {
  display: inline-block;
  color: #080808;
  padding-right: 7px;
  font-size: 1.5rem;
  font-weight: 800;
  vertical-align: top;
}
.daily_header_title:hover {
  text-decoration: underline;
}
.daily_bord_info {
  display: inline-block;
  color: #606060;
  border: 1px solid #ebebeb;
  background-color: #fff;
  min-width: 75px;
  height: 26px;
  margin-top: 7px;
  padding: 0 10px 0 7px;
  border-radius: 15px;
  font-size: 1.1rem;
  line-height: 25px;
  vertical-align: top;
}
.daily_bord_info::before {
  content: '';
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -91px -424px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin: 6px 2px 0 0;
  vertical-align: top;
}
.daily_bord_btn_location {
  flex: none;
  margin-left: auto;
  font-size: 1.3rem;
  color: #606060;
}
.daily_bord_info_group {
  position: relative;
  display: flex;
  border-top: 1px solid #ebebeb;
}
.daily_bord_info_box {
  position: relative;
  flex: 1;
  min-width: 0;
  margin: 20px 0 18px;
}
.link_info_detail {
  display: block;
}
.info_weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}
.weather_icon {
  word-wrap: 86px;
  height: 86px;
  margin-right: 4px;
}
.weather_icon::before {
  content: '';
  display: block;
  background-image: url(../images/weather_icon.png);
  background-size: 641px 587px;
  background-position: -174px -87px;
  background-repeat: no-repeat;
  width: 86px;
  height: 86px;
}
.weather_temperature {
  min-width: 0;
  font-size: 3.9rem;
  line-height: 48px;
  letter-spacing: -2px;
}
.weather_status {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.3px;
}
.info_temperature {
  margin-top: 16px;
  line-height: 16px;
  text-align: center;
}
.temperature_low {
  color: #3172e7;
}
.temperature_high {
  color: #cd3534;
}
.temperature_high::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #d3d5d7;
  margin: 0 5px 0 3px;
  transform: skewX(-15deg);
  vertical-align: -1px;
}
.weather_dust {
  display: block;
  margin-top: 6px;
  line-height: 20px;
  text-align: center;
}
.dust_text {
  display: inline-block;
  font-size: 1.3rem;
  vertical-align: top;
}
.dust_text:last-child::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  margin: 8px 6px 0;
  border-radius: 50%;
  vertical-align: top;
}
.dust_status {
  padding-left: 4px;
  color: #02c73c;
}
.type_bad {
  color: #fda60e;
}
.daily_bord_info_box:last-child {
  margin-left: 24px;
}
.link_info_weather {
  position: relative;
  display: block;
}
.weather_graph {
  position: absolute;
  top: 28px;
  right: 0;
  left: 0;
}
.weather_list {
  display: flex;
  justify-content: space-between;
  height: 143px;
}
.weather_item {
  position: relative;
  width: 32px;
  text-align: center;
}
.weather_item:first-child .daily_bord_time {
  color: #101010;
  font-weight: bold;
}
.daily_bord_time {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
  line-height: 16px;
  white-space: nowrap;
  color: #606060;
}
.daily_bord_icon {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  width: 32px;
  height: 32px;
}
.daily_bord_icon::before {
  content: '';
  display: block;
  background-image: url(../images/weather_icon.png);
  background-size: 641px 587px;
  background-position: -33px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.daily_bord_celsius {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 60px;
  left: 0;
  font-size: 14px;
  line-height: 16px;
}
.daily_bord_celsius::before {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 15px;
  background-color: #ebebeb;
  width: 1px;
}

/* stock */
.btn_info {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 10px 0 0 -4px;
}
.btn_info::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -243px -316px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin: auto;
}
.layer_info {
  position: absolute;
  top: 45px;
  left: -2px;
  width: 312px;
  border: 1px solid #d3d5d7;
  background-color: #fff;
  color: #404040;
  z-index: 100;
  display: none;
  padding: 14px 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  font-size: 1.3rem;
  line-height: 20px;
  word-break: keep-all;
  font-weight: 500;
}
.btn_close {
  position: absolute;
  top: 0;
  right: 16px;
}
.daily_bord_header_side {
  flex: none;
  margin-left: auto;
  font-size: 1.3rem;
  color: #606060;
}
.btn_refresh {
  display: inline-block;
  padding: 12px 0 12px 5px;
  vertical-align: top;
}
.btn_refresh::before {
  content: '';
  display: block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -132px -332px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.stock .daily_bord_info_box {
  margin: 8px 0 15px;
}
.stock .daily_bord_info_box:last-child {
  margin-left: 25px;
}

.left_wrap {
  overflow: hidden;
  display: flex;
  height: 160px;
}
.link_stock_info {
  display: block;
  padding-top: 6px;
}
.stock_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 82px;
  font-size: 1.4rem;
  line-height: 18px;
}
.stock_info .stock_price {
  margin-top: 1px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.7px;
}
.stock_gap {
  padding-left: 12px;
  color: #2196f3;
  position: relative;
  font-size: 14px;
  line-height: 17px;
}
.icon_status {
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -39px -424px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 0;
}
.rate {
  padding-left: 6px;
}
.stock_item {
  height: 36px;
  border-bottom: 1px solid #ebebeb;
}
.stock_link {
  padding: 6px 0 9px;
  display: flex;
  justify-content: space-between;
  line-height: 21px;
}
.stock_link .stock_price {
  display: flex;
}
.icon_status_more {
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -39px -424px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin: 7px 0 0 2px;
  background-color: rgba(0, 0, 0, 0);
}
.stock_link .rate {
  color: #2196f3;
  margin-right: 4px;
  font-size: 1.1rem;
}
.stock_item:last-child .stock_link {
  position: relative;
}
.stock_item:last-child .stock_link::after {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -226px -424px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  right: 0;
  color: #606060;
}

/* ad2 */
.ad2_banner_link {
  display: block;
  height: 240px;
  padding: 18px 18px 0;
  position: relative;
}
.ad2_title {
  color: #1e1e23;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 22px;
}
.ad2_product_area {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.ad2_product_img_area {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.ad2_product_img_area::after {
  content: '';
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  right: 0;
  top: 0;
}
.ad2_product_text_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 174px;
}
.ad2_product_text_area::before {
  content: '';
  height: 1px;
  background-color: #ebebeb;
}
.ad2_product_text_area::after {
  content: '';
  height: 1px;
  background-color: #ebebeb;
}
.ad2_text {
  color: #303038;
  font-size: 17px;
  letter-spacing: -0.5px;
  padding: 0 5px;
  line-height: 1.5;
  overflow: hidden;
}

.ad2_footer {
  margin-top: 15px;
}
.ad_brand_area {
  display: flex;
  align-items: center;
}
.ad_brand_thumb {
  border-radius: 50%;
  margin-right: 6px;
  overflow: hidden;
  position: relative;
}
.ad_brand_thumb::after {
  content: '';
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.ad2_brand_name {
  color: #424244;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.ad2_more {
  color: #505052;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.8px;
  margin-left: auto;
}
.ad2_brand_arrow {
  color: #000;
  margin-left: 3px;
}

/* tool */
.tool_area {
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0px 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: #f4f6fa;
}
.tool_title {
  color: #080808;
  position: relative;
  padding: 15px 17px 11px 19px;
  font-size: 1.5rem;
  line-height: 23px;
  font-weight: 800;
}
.tool_content {
  position: relative;
}
.tool_wrap {
  white-space: nowrap;
}
.tool_group {
  display: inline-block;
  padding: 2px 18px;
  white-space: normal;
  vertical-align: top;
}
.tool_box {
  width: 384px;
  position: relative;
  padding: 8px 11px 8px 18px;
  height: 192px;
  background-color: #fff;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.tool_box::after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both;
}
.title_box {
  display: flex;
  position: relative;
}
.widget_title {
  color: #080808;
  width: 50%;
  font-size: 1.5rem;
  line-height: 34px;
  font-weight: 800;
}
.widget_info_box {
  float: left;
  width: 50%;
  margin-top: 4px;
}
.info_date {
  display: block;
  margin: 0 -1px;
  font-size: 3.9rem;
  line-height: 48px;
  letter-spacing: -2px;
}
.info_day {
  display: inline-block;
  margin: 23px 0 0 9px;
  font-size: 1.3rem;
  line-height: 20px;
  vertical-align: top;
}
.widget_link_login {
  position: absolute;
  bottom: 18px;
  left: 18px;
  color: #606060;
  text-decoration: underline;
}
.widget_calender_table {
  float: left;
  width: 50%;
  padding: 7px 0 0 5px;
  text-decoration: none;
}
.calender_table {
  padding-left: 9px;
  table-layout: fixed;
}
.widget_sunday,
.widget_holiday {
  color: #eb5b5b;
}
.calender_table th {
  width: 24px;
  height: 27px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.calender_table td {
  width: 24px;
  height: 20px;
  position: relative;
  font-size: 12px;
  text-align: center;
}
.widget_current {
  color: #fff;
  font-weight: bold;
  z-index: 1;
}
.widget_current::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #101010;
  top: -2px;
  width: 24px;
  height: 24px;
  z-index: -1;
  border-radius: 50%;
}
.widget_dimmed {
  color: #606060;
  opacity: 0.6;
}
.tool_box:nth-child(2) {
  margin-top: 12px;
}
.vibe_top {
  display: flex;
  padding: 14px 18px 0;
}
.icon_vibe {
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -311px -17px;
  background-repeat: no-repeat;
  width: 64px;
  height: 16px;
  flex: none;
  margin: 2px 8px 4px 0;
}
.vibe_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #080808;
  width: 130px;
  line-height: 22px;
  font-weight: 800;
}
.btn_vibe_refresh {
  color: #606060;
  flex: none;
  margin-left: auto;
  font-size: 1.3rem;
}
.btn_vibe_refresh::after {
  content: '';
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -302px -332px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: top;
}
.vibe_list {
  padding: 12px 18px 0;
  display: flex;
  justify-content: space-between;
}
.vibe_item {
  float: left;
  width: 103px;
}
.link_music {
  position: relative;
  display: block;
  border-radius: 4px;
}
.vibe_item .content_img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 74.86%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.09) 100%);
  z-index: 1;
}
.vibe_item .content_img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
}
.music_title {
  position: absolute;
  right: 8px;
  bottom: 7px;
  left: 8px;
  display: block;
  overflow: hidden;
  max-height: 36px;
  line-height: 18px;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 10;
}
.icon_play {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 10;
}
.icon_play::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
}
.icon_play::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -395px -376px;
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  margin: auto;
}
.vibe_item:last-child .link_music::before {
  content: '';
  display: block;
  width: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 4px;
  right: -5px;
  bottom: 4px;
  background-color: #7a7b7c;
}
.vibe_item:last-child .link_music::after {
  content: '';
  display: block;
  width: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 8px;
  right: -10px;
  bottom: 8px;
  background-color: #d0d2d3;
}
.link_mo {
  display: flex;
  padding: 20px 23px 23px 22px;
  line-height: 22px;
  align-items: center;
}
.link_mo::before {
  content: '';
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -120px -376px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.tool_content .btn_next {
  position: absolute;
  top: 177px;
  right: -20px;
  width: 48px;
  height: 48px;
}
.tool_content .btn_next::before {
  content: '';
  position: absolute;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -251px -332px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
}
.link_mo::after {
  content: '';
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -142px -73px;
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  margin-left: auto;
}

/* bottom_banner */
.banner_box {
  position: relative;
  padding: 8px 50px 8px 18px;
}
.banner_wrap {
  overflow: hidden;
  display: flex;
  width: 352px;
}
.bottom_baner {
  width: 100%;
}
.banner_link {
  color: #404040;
  display: flex;
  align-items: center;
  width: 352px;
  padding: 11px 0;
  line-height: 20px;
}
.bottom_banner_thumb {
  width: 42px;
  height: 42px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
  line-height: 20px;
}
.bottom_banner_desc {
  flex: 1;
  min-width: 0;
}
.bottom_banner_text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #101010;
  font-weight: bold;
}
.bottom_banner_text2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #606060;
  margin-top: 2px;
  line-height: 20px;
}
.banner_indicator {
  position: absolute;
  top: 50%;
  right: 18px;
  height: 6px;
  margin-top: -3px;
}
.bottom_banner_dot:first-child {
  background-color: #03c75a;
}
.bottom_banner_dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(128, 134, 140, 0.3);
  vertical-align: top;
}
/* layer_setting */
.layer_setting {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 50;
}
.btn_top {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  vertical-align: top;
}
.btn_top::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -204px -142px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.btn_setting {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  vertical-align: top;
}
.btn_setting::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -203px -55px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.btn_view_mo {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 50%;
  z-index: 100;
  padding: 0 29px 0 17px;
  border-radius: 28px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
  background-color: #03c75a;
  transform: translateX(-50%);
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
}
.btn_view_mo::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: inherit;
}
.btn_view_mo::before {
  content: '';
  display: inline-block;
  background-image: url(../images/main_icon.png);
  background-size: 452px 436px;
  background-position: -221px -139px;
  background-repeat: no-repeat;
  width: 39px;
  height: 44px;
  margin: 6px 0 0 0;
  vertical-align: top;
}
